h1 {
  text-align:center;
}

.restaurants {
  display:flex;
  flex-wrap:wrap;
}

.panera {
  height: 200px;
  width: 300px;
}

.mcdonalds {
  height: 200px;
  width: 300px;
  padding-left: 30px;
}

.chipotle {
  height: 200px;
  width: 300px;
  padding-top: 20px;
}
