body {
  background-color: #e6dcdd;
}

ul {
  position: sticky;
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c22e21;
}

.words:hover {
  background-color: #e6dcdd;
}

li {
  border-right: 1px solid black;
  float: left;
  list-style:none;
}

li a {
  display: block;
  color: #4d0e13;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #c22e21;
}

li:last-child {
  border-right: none;
}

h1, h2, h3 {
  color: #4d0e13;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.item {
  display:flex;
  height: 300px;
  width: 200px;
}

.imageitem {
  height: 300px;
  width: 400px;
}
