.restaurants {
    display:flex;
  flex-wrap: wrap;
}

.restaurants a img {
  height: 200px;
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
}

.topPage{
  flex-basis: 50%;
}


h1 {
  text-align: center;
  font-family: sans-serif;
}

ul {
  position: sticky;
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bd3f39;
}

li {
  border-right: 1px solid black;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}

li:last-child {
  border-right: none;
}

.active {
  background-color: white;
  color: white;
}
