<!DOCTYPE html>
<html>
<head>
  <title> About Us </title>
  <link rel="stylesheet" href="aboutus.css"/>
</head>
<body>
  <h1> About Us </h1>
  <h2> Meet the Emergency Eats team </h2>
<div>
  <h3> Why we made this website </h3>
  <p>
    Our app is meant for people who are trying to diet but don’t have the money to go to the grocery store to buy groceries. The user can choose between vegan, vegetarian and lactose intolerant. After that, they can choose from 3 different fast food restaurants that we have. For example, a college student who can’t afford groceries can go to our website. Then they can make an account and set their preferences on their profile. After that, it’ll direct them to another page with the 3 fast food restaurants that we have. They then choose one of those restaurants and it comes up with the menu options of the preference they set.
  </p>
</div>
</body>
</html>
