<!DOCTYPE html>
<html>
<head>
  <title> About Us </title>
  <link rel="stylesheet" href="../static/aboutus.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1> About Us </h1>
  <h2> Meet the Emergency Eats team </h2>
<div class="row">

  <div class="column">
    <img src="../static/grace.png" class= "baby1"/>
  <h4> Grace Yankus </h4>
    <p>
      I am a rising freshman at UGA majoring in Biomedical Engineering with a minor in Computer Science. I graduated from the Walker School that I've been going to since pre-kindergarten. I have a girl scout gold award and I play soccer. I am apart of the Google CSSI 2019 program that is directed towards students who just graduated from high school to learn more about Computer Science.
    </p>
  </div>

  <div class="column">
    <img src="../static/ivana.jpg" class= "baby2"/>
  <h4> Ivana Olivo </h4>
  <p>
    I am a rising freshman at Georgia Tech majoring in computer science. I graduated from Chattahoochee High School in May/June 2019. I am apart of the Google CSSI 2019 program that is directed towards students who just graduated from high school to learn more about Computer Science.
  </div>

  <div class="column">
    <img src="../static/abdul.jpg" class = "baby3"/>
  <h4> Abdul Ahmed </h4>
  <p>
    I am a rising freshman at Augusta University majoring in Computer Science and hoping to one day become a full fledged software engineer. I graduated from Brookwood High School in Snellville, Georgia in May 2019. I ran the 100m and 200m dash in track and field in my time there. I am apart of the Google CSSI 2019 program that is directed towards students who just graduated from high school to learn more about Computer Science.
  </p>
  </div>
</div>

<div>
  <h3> Why we made this website </h3>
  <p>
    Our app is meant for people who are trying to diet but don’t have the money to go to the grocery store to buy groceries. The user can choose between vegan, vegetarian and lactose intolerant. After that, they can choose from 3 different fast food restaurants that we have. For example, a college student who can’t afford groceries can go to our website. Then they can make an account and set their preferences on their profile. After that, it’ll direct them to another page with the 3 fast food restaurants that we have. They then choose one of those restaurants and it comes up with the menu options of the preference they set.
  </p>
</div>

</body>
</html>
