<!DOCTYPE html>
<head>
  <title>Barbacoa-Nutrition</title>
  <link rel="stylesheet" href="../static/barbacoa.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurant.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Barbacoa Nutrition Facts</h1>
  <input type="image" id="barbacoa" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/barbacoa/Primary/barbacoa.png" class="barbacoa"/>
  <h2>Ingredients:</h2>
  <h3>Barbacoa (Bay leaf, beef, black pepper, chipotle chili, cloves, cumin, garlic, oregano, rice bran oil, salt, water).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=170g, Total Fat=7g, Sodium=530mg, Total Carb=2g, Protein= 24g, Sugar= 0g</h3>
</body>
