<!DOCTYPE html>
<head>
  <title>Black Beans-Nutrition</title>
  <link rel="stylesheet" href="../static/blackbeans.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>Black Beans Nutrition Facts</h1>
  <input type="image" id="blackbeans" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/black-beans/primary/black-beans.png" class= "blackbeans"/>
  <h3>Black Beans (Bay leaf, black beans, black pepper, chipotle chili, cumin, garlic, lemon juice, lime juice, oregano, rice bran oil, salt, water, yellow onion).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=130g, Total Fat=1.5g, Sodium=260mg, Total Carb=21g, Protein= 6g, Sugar= 2g</h3>
</body>
