<!DOCTYPE html>
<head>
  <title>BLT-Nutrition</title>
  <link rel="stylesheet" href="../static/blt.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Roasted Turkey & Avocado BLT Nutrition Facts</h1>
  <input type="image" id="blt" src="https://www.panerabread.com/foundation/menu/grid/roasted-turkey-and-avocado-blt-sandwich-whole.jpg/_jcr_content/renditions/roasted-turkey-and-avocado-blt-sandwich-whole.desktop.jpeg" class="blt"/>
  <h2>Ingredients:</h2>
  <h3>Roasted Turkey Breast (Turkey Breast, Water, Canola Oil, Corn Starch, Salt, Black Pepper), Country Rustic Xl Loaf (Enriched Flour (Wheat Flour, Malted Barley Flour, Niacin, Reduced Iron, Thiamine Mononitrate, Riboflavin, Folic Acid), Water, Coarse Whole Wheat Flour, Salt, Yeast (Yeast, Sorbitan Monostearate, Ascorbic Acid), Dough Conditioner (Ascorbic Acid, Microcrystalline Cellulose, Corn Starch)), Tomatoes, Avocado, Applewood Smoked Bacon (Pork, Water, Sea Salt, Sugar, Celery Powder), Emerald Greens (Green Leaf Lettuce Blend), Mayonnaise (Soybean Oil, Vinegar, Eggs, Egg Yolks, Salt, Sugar, Water, Lemon Juice Concentrate, Ground Red Pepper, Dried Garlic, Mustard Oil), Sea Salt And Black Pepper Blend (Sea Salt, Black Pepper, Canola Oil). </h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=680, Total Fat=35g, Sodium=1350mg, Total Carb=52g, Protein= 42g, Sugar= 5g</h3>
</body>
