<!DOCTYPE html>
<head>
  <title>Carnitas-Nutrition</title>
  <link rel="stylesheet" href="../static/carnitas.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>Carnitas Nutrition Facts</h1>
  <input type="image" id="carnitas" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/carnitas/primary/carnitas.png" class="carnitas"/>
  <h2>Ingredients:</h2>
  <h3>Carnitas (Bay leaf, black pepper, juniper berries, pork, salt, sunflower oil, thyme). </h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=170g, Total Fat=7g, Sodium=530mg, Total Carb=0g, Protein= 0g, Sugar= 0g</h3>
</body>
