<!DOCTYPE html>
<html>
<head>
  <title>Chipotle-Vegan</title>
  <link rel="stylesheet" href="../static/chipotleVegan.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Chipotle-Vegan</h1>
  <h3>Click food name to see nutrition facts</h3>
  <div class= "item1">
    <input type="image" id="rice" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/brown-rice/primary/brown-rice@3x.png" class="rice"/>
    <h2><li><a href="rice.html">Cilantro-Lime Brown Rice</a></h2>
  </div>
  <br>
  <div class= "item2">
    <input type="image" id="vegetables" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/fajita-vegetables/primary/fajita_veg.png" class="vegetables"/>
    <h2><li><a href="vegetables.html">Fajita Vegetables</a></h2>
  </div>
  <br>
  <div class= "item3">
    <input type="image" id="sofritas" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/sofritas/primary/sofritas.png" class="sofritas"/>
    <h2><li><a href="sofritas.html">Sofritas</a></h2>
  </div>
</body>
</html>
