<!DOCTYPE html>
<html>
<head>
  <title>Chipotle Options</title>
  <link rel="stylesheet" href="../static/chipotleChoose.css"/>
</head>
<body>
  <ul>
    <li><b><a class="nav" href="restaurants.html">Home</a></b></li>
    <li><b><a class="nav" href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Click your dietary restriction</h1>
  <div class="container">
    <form action="chipotleVegan.html">
      <button class="btn"><b>VEGAN<b/></button>
    </form>
  </div>
<br>
  <div class="container2">
    <form action="chipotleVegetarian.html">
      <button class="btn"><b>VEGETARIAN</b></button>
    </form>
  </div>
<br>
  <div class="container3">
    <form action="chipotleLactoseIntolerant.html">
      <button class="btn"><b>LACTOSE INTOLERANT</b></button>
    </form>
  </div>
<br>

</body>
</html>
