<!DOCTYPE html>
<html>
<head>
  <title>Chipotle-Vegan</title>
  <link rel="stylesheet" href="../static/chipotleVegetarian.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>Chipotle-Vegetarian</h1>
  <h3>Click food name to see nutrition facts</h3>
  <div class= "item1">
    <input type="image" id="queso" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/queso/primary/queso@3x.png" class="queso"/>
    <h2><li><a href="queso.html">Queso</a></h2>
  </div>
  <br>
  <div class= "item2">
    <input type="image" id="pintobeans" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/pinto-beans/primary/pinto-beans.png" class="pintobeans"/>
    <h2><li><a href="pintobeans.html">Pinto Beans</a></h2>
  </div>
  <br>
  <div class= "item3">
    <input type="image" id="blackbeans" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/black-beans/primary/black-beans.png" class="blackbeans"/>
    <h2><li><a href="blackbeans.html">Black Beans</a></h2>
  </div>
</body>
</html>
