<!DOCTYPE html>
<html>
<head>
  <title>{{ restaurant_name }}-{{ restriction }}</title>
  <link rel="stylesheet" href="../static/foodList.css"/>
</head>
<body>
  {% include 'templates/navbar.html' %}
  <h1>{{ restaurant_name }}-{{ restriction }}</h1>
  <h3>Click food name to see nutrition facts</h3>
  {% for foodItem_key in foodItems %}
    <div class= "item">
      <img src="{{ foodItem_key.get().picture }}"/>
      <h2><li><a href="/foodItem?foodid={{ foodItem_key.id() }}">{{ foodItem_key.get().name }}</a></h2>
    </div>
  {% endfor %}
</body>
</html>
