<!DOCTYPE html>
<head>
  <title>Guacamole-Nutrition</title>
  <link rel="stylesheet" href="../static/guacamole.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>Guacamole Nutrition Facts</h1>
  <input type="image" id="guacamole" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/guacamole/primary/guacamole@3x.png" class="guacamole"/>
  <h2>Ingredients:</h2>
  <h3>Guacamole (Avocado, cilantro, jalapeno, lemon juice, lime juice, red onion, salt). </h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=230g, Total Fat=22g, Sodium=375mg, Total Carb=8g, Protein= 2g, Sugar= 1g</h3>
</body>
