<!DOCTYPE html>
<head>
  <title>Hamburger-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Hamburger Nutrition Facts</h1>
  <input type="image" id="oatmeal" src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/nutrition/items/hero/desktop/t-mcdonalds-Hamburger.jpg" class="oatmeal"/>
  <h2>Ingredients:</h2>
  <h3>Regular bun(Enriched Flour (Wheat Flour, Malted Barley Flour, Niacin, Iron, Thiamine Mononitrate, Riboflavin, Folic Acid), Water, Sugar, Yeast, Soybean Oil, Contains 2% or Less: Salt, Wheat Gluten, Potato Flour, May Contain One or More Dough Conditioners (DATEM, Ascorbic Acid, Mono and Diglycerides, Enzymes), Vinegar), 100% Beef Patty(100% Pure USDA Inspected Beef; No Fillers, No Extenders. Prepared with Grill Seasoning (Salt, Black Pepper)), Ketchup(Tomato Concentrate from Red Ripe Tomatoes, Distilled Vinegar, High Fructose Corn Syrup, Corn Syrup, Water, Salt, Natural Flavors), Pickle slices(Cucumbers, Water, Distilled Vinegar, Salt, Calcium Chloride, Alum, Potassium Sorbate (Preservative), Natural Flavors, Polysorbate 80, Extractives of Turmeric (Color)), Onions, Mustard(Distilled Vinegar, Water, Mustard Seed, Salt, Turmeric, Paprika, Spice Extractive)</h3>
  <h2>Nutrition Facts</h2>
  <h3>250 cal, 31g carbs, 8g fat, 13g protein, 480mg sodium</h3>
</body>
