<!DOCTYPE html>
<head>
  <title>Fruit and Maple Oatmeal-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Fruit and Maple Oatmeal Nutrition Facts</h1>
  <input type="image" id="oatmeal" src="https://cbsnews2.cbsistatic.com/hub/i/r/2011/02/23/16c05afd-a644-11e2-a3f0-029118418759/resize/620x465/19626f7f0f253a5a129984333ab5b312/mcdonalds_fruit-and-maple-o.jpg" class="oatmeal"/>
  <h2>Ingredients:</h2>
  <h3>Oatmeal(Water, Whole Grain Rolled Oats, Brown Sugar, Modified Food Starch, Salt, Natural Flavor, Barley Malt Extract, Caramel Color), Diced apples, Cranberry raisin blend(Sweetened Dried Cranberries (Sugar, Cranberries), California Raisins, Golden Raisins, Sunflower Oil, Sulfur Dioxide as a Preservative (Contains Sulfites)</h3>
  <h2>Nutrition Facts</h2>
  <h3>290 cal, 61g carbs, 2g fat, 5g protein, 130mg sodium
</h3>
</body>
