<!DOCTYPE html>
<head>
  <title>McChicken-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>McChicken Nutrition Facts</h1>
  <input type="image" id="oatmeal" src="https://www.mcdonalds.com/content/dam/usa/nfl/nutrition/items/regular/desktop/t-mcdonalds-McChicken.jpg" class="oatmeal"/>
  <h2>Ingredients:</h2>
  <h3>McChicken patty(Boneless Chicken, Bleached Wheat Flour, Water, Vegetable Oil (Canola Oil, Corn Oil, Soybean Oil, Hydrogenated Soybean Oil), Wheat Flour, Modified Corn Starch, Sea Salt, Spice, Potassium Chloride, Salt, Paprika, Dextrose, Sodium Phosphates, Leavening (Ammonium Bicarbonate, Sodium Acid Pyrophosphate, Baking Soda, Monocalcium Phosphate), Wheat Gluten, Natural Flavors with Extractives of Paprika, Yeast, Corn Starch, Garlic Powder), Regular Bun(Enriched Flour (Wheat Flour, Malted Barley Flour, Niacin, Iron, Thiamine Mononitrate, Riboflavin, Folic Acid), Water, Sugar, Yeast, Soybean Oil, Contains 2% or Less: Salt, Wheat Gluten, Potato Flour, May Contain One or More Dough Conditioners (DATEM, Ascorbic Acid, Mono and Diglycerides, Enzymes), Vinegar), Shredded lettuce, Mayonnaise(Soybean Oil, Egg Yolk, Water, Distilled Vinegar, Salt, Sugar, Spice, Lemon Juice Concentrate)
</h3>
  <h2>Nutrition Facts</h2>
  <h3>410cal, 39g carbs, 22g fat, 15g protein, 590mg sodium</h3>
</body>
