<!DOCTYPE html>
<html>
<head>
  <title>McDonalds Options</title>
  <link rel="stylesheet" href="../static/paneraChoose.css"/>
</head>
<body>
  <ul>
    <li><b><a class="nav" href="restaurants.html">Home</a></b></li>
    <li><b><a class="nav" href="profile.html">Profile</a></b></li>
    <li><b><a class="nav" href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Click your dietary restriction</h1>
  <div class="container">
      <button class="btn"><b>VEGAN<b/></button>
  </div>
<br>
  <div class="container2">
    <button class="btn"><b>VEGETARIAN</b></button>
  </div>
<br>
  <div class="container3">
    <button class="btn"><b>LACTOSE INTOLERANT</b></button>
  </div>
<br>

</body>
</html>
