<!DOCTYPE html>
<html>
<head>
  <title>McDonalds-Vegetarian</title>
  <link rel="stylesheet" href="../static/mcdonaldsVegetarian.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>McDonalds Vegetarian</h1>
  <h3>Click food name to see nutrition facts</h3>
  <div class= "item1">
    <input type="image" id="parfait" src="https://i.pinimg.com/originals/bf/d0/2e/bfd02e90e8077e89b50041d6a34af1f8.png" class="parfait"/>
    <h2><li><a href="parfait.html">Fruit and yogurt parfait</a></h2>
  </div>
  <br>
  <div class= "item2">
    <input type="image" id="mcmuffin" src="https://a57.foxnews.com/a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2018/09/640/320/1862/1048/5b4abf1c-EggMcMuffin.jpg?ve=1&tl=1?ve=1&tl=1" class="mcmuffin"/>
    <h2><li><a href="mcmuffin.html">Egg McMuffin (no meat)</a></h2>
  </div>
  <br>
  <div class= "item3">
    <input type="image" id="wrap" src="https://dynamicmedia.zuza.com/zz/m/original_/1/6/169f39a2-0e25-4081-aa82-39f6c7fd3747/B821370149Z.1_20130828072353_000_G9R12AVTN.2_Gallery.jpg" class="wrap"/>
    <h2><li><a href="wrap.html">Veggie McWrap</a></h2>
  </div>
</body>
</html>
