<!DOCTYPE html>
<head>
  <title>Oatmeal-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Steel Cut Oatmeal with Strawberries & Pecans Nutrition Facts</h1>
  <input type="image" id="oatmeal" src="https://www.panerabread.com/content/dam/panerabread/menu/details/steel-cut-oatmeal-strawberries-pecans.jpg" class="oatmeal"/>
  <h2>Ingredients:</h2>
  <h3>Cooked Steel Cut Oats (Water, Cooked Steel Cut Oat Groats [May Contain Traces Of Wheat, Soy And Mustard], Salt), Organic Quinoa (Water, Organic Golden Quinoa, Organic Red Quinoa, Sea Salt, Glucono Delta Lactone), Honey, Toasted Almonds, Cinnamon.</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=320, Total Fat=8g, Sodium=200mg, Total Carb=51g, Protein= 10g, Sugar= 7g</h3>
</body>
