<!DOCTYPE html>
<html>
<head>
  <title>Panera-Vegan</title>
  <link rel="stylesheet" href="../static/paneraVegan.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Panera-Vegan</h1>
  <h3>Click food name to see nutrition facts</h3>
  <div class= "item1">
    <input type="image" id="oatmeal" src="https://www.panerabread.com/content/dam/panerabread/menu/details/steel-cut-oatmeal-strawberries-pecans.jpg" class="oatmeal"/>
    <h2><li><a href="oatmeal.html">Steel Cut Oatmeal with Strawberries & Pecans</a></h2>
  </div>
  <br>
  <div class= "item2">
    <input type="image" id="bowl" src="https://www.panerabread.com/content/dam/panerabread/menu/details/vegan-lentil-quinoa-broth-bowl.jpg" class="bowl"/>
    <h2><li><a href="bowl.html">Vegan Lentil Quinoa Bowl</a></h2>
  </div>
  <br>
  <div class= "item3">
    <input type="image" id="noodles" src="https://www.panerabread.com/content/dam/panerabread/menu/details/soba-noodle-bowl-with-edamame.jpg" class="noodles"/>
    <h2><li><a href="noodles.html">Soba Noodle Broth Bowl with Edamame Blend</a></h2>
  </div>
</body>
</html>
