<!DOCTYPE html>
<html>
<head>
  <title>Panera-Vegan</title>
  <link rel="stylesheet" href="../static/paneraVegan.css"/>
</head>
<body>
  <ul>
    <li><b><a href="home.asp">Home</a></b></li>
    <li><b><a href="profile.asp">Profile</a></b></li>
    <li><b><a href="aboutus.asp">About Us</a></b></li>
  </ul>
  <h1>Panera-Vegan</h1>
  <div class= "pictures">
    <input type="image" id="oatmeal" src="https://www.panerabread.com/content/dam/panerabread/menu/details/steel-cut-oatmeal-strawberries-pecans.jpg" class="oatmeal"/>
    <li><a href="oatmeal.html">Steel Cut Oatmeal with Strawberries & Pecans</a>
  </div>
</body>
</html>
