<!DOCTYPE html>
<html>
<head>
  <title>Panera-Vegan</title>
  <link rel="stylesheet" href="../static/paneraVegan.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Click your dietary restriction</h1>
    <h2><li><a href="oatmeal.html">Vegan</a></li></h2>

    <h2><li><a href="bowl.html">Vegetarian</a></li></h2>

    <h2><li><a href="noodles.html">Lactose Intolerant</a></li></h2>

</body>
</html>
