<!DOCTYPE html>
<head>
  <title>Fruit and yogurt parfait-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Fruit and Yogurt Parfait Nutrition Facts</h1>
  <input type="image" id="parfait" src="https://i.pinimg.com/originals/bf/d0/2e/bfd02e90e8077e89b50041d6a34af1f8.png" class="oatmeal"/>
  <h2>Ingredients:</h2>
  <h3>Lowfat Yogurt (Cultured Pasteurized Grade A Reduced Fat Milk, Sugar, Modified Corn Starch, Fructose, Whey Protein Concentrate, Gelatin, Corn Starch, Natural Flavor, Potassium Sorbate), Strawberries, Blueberries, Low Fat Crunchy Granola(Whole Grain Rolled Oats, Brown Sugar, Crisp Rice (Rice Flour, Barley Malt Extract, Salt), Sugar, Corn Syrup, Sunflower Oil, Salt, Baking Soda, Citric Acid, Cinnamon, Crushed Oranges, Natural Flavor)</h3>
  <h2>Nutrition Facts</h2>
  <h3>210 cal, 40g carbs, 3g fat, 6g protein, 75mg sodium</h3>
</body>
