<!DOCTYPE html>
<head>
  <title>Pinto Beans-Nutrition</title>
  <link rel="stylesheet" href="../static/pintobeans.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Pinto Beans Nutrition Facts</h1>
  <input type="image" id="pintobeans" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/pinto-beans/primary/pinto-beans.png" class= "pintobeans"/>
  <h3>Pinto Beans (Bay leaf, black pepper, chipotle chili, cumin, garlic, lemon juice, lime juice, oregano, pinto beans, rice bran oil, salt, water, yellow onion).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=130g, Total Fat=1.5g, Sodium=300mg, Total Carb=21g, Protein= 6g, Sugar= 1g</h3>
</body>
