<!DOCTYPE html>
<html>
<head>
  <title>Your Profile</title>
  <link rel="stylesheet" href="profile.css">
</head>
<body>
  <h1>Your Profile</h1>
  <form method="post">
  <h3>Import a picture of yourself:<h3>
  <input type="file" name="enteredimage"><input type="submit">
  </form>
  <h2>Input your dietary restrictions:<h2>
    <button id="Vegan">Vegan</button>
    <br>
    <button id="Vegetarian">Vegetarian</button>
    <br>
    <button id="Lactose Intolerant">Lactose Intolerant</button>
</body>
</html>
