<!DOCTYPE html>
<head>
  <title>Queso-Nutrition</title>
  <link rel="stylesheet" href="../static/queso.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Queso Nutrition Facts</h1>
  <input type="image" id="queso" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/queso/primary/queso@3x.png" class="queso"/>
  <h2>Ingredients:</h2>
  <h3>Queso (Bell pepper, black pepper, cheddar cheese, cheese cultures, chipotle chili, cornstarch, cumin, distilled vinegar, garlic, jalapeno, lemon juice, lime juice, milk, oregano, poblano pepper, red wine vinegar, salt, rice bran oil, tapioca starch, tomatillo, tomato, tomato paste, vegetable rennet, water, yellow onion).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=120g, Total Fat=8g, Sodium=200mg, Total Carb=4g, Protein= 6g, Sugar= 1g</h3>
</body>
