<!DOCTYPE html>
<head>
  <title>Rice-Nutrition</title>
  <link rel="stylesheet" href="../static/rice.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Cilantro-Lime Brown Rice Nutrition Facts</h1>
  <input type="image" id="rice" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/brown-rice/primary/brown-rice@3x.png" class="rice"/>
  <h2>Ingredients:</h2>
  <h3>Cilantro-Lime Brown Rice (Bay leaf,brown rice, cilantro, lemon juice, lime juice, rice brain oil, salt, water).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=210g, Total Fat=6g, Sodium=195mg, Total Carb=36g, Protein= 4g, Sugar= 0g</h3>
</body>
