<!DOCTYPE html>
<head>
  <title>Salad-Nutrition</title>
  <link rel="stylesheet" href="../static/salad2.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Modern Greek Salad with Quinoa Nutrition Facts</h1>
  <input type="image" id="salad2" src="https://www.panerabread.com/foundation/menu/details/modern-greek-salad-with-quinoa-whole.jpg/_jcr_content/renditions/modern-greek-salad-with-quinoa-whole.desktop.jpeg" class="salad2"/>
  <h2>Ingredients:</h2>
  <h3>Romaine Lettuce, Quinoa Sofrito Tomato Blend (Organic Quinoa (Water, Organic Golden Quinoa, Organic Red Quinoa, Sea Salt, Glucono Delta Lactone), Roasted Tomato Sofrito Blend (Tomatoes, Onion, Canola Oil, Extra Virgin Olive Oil, Dried Garlic, Vinegar, Salt, Sugar, Thyme)), Greek Dressing (Soybean Oil, Water, Distilled Vinegar, Olive Pomace Oil, Cider Vinegar, Salt, Organic Gum Blend [Organic Gum Acacia And Organic Guar Gum], Xanthan Gum, Dehydrated Garlic, Black Pepper, Lemon Juice Concentrate, Dehydrated Tarragon, Dehydrated Oregano, Citric Acid, Dehydrated Parsley, Dehydrated Rosemary, Dehydrated Thyme, Dehydrated Bay Leaves), Kale, Cucumber, Feta Cheese (Pasteurized Part-Skim Milk, Cheese Culture, Salt, Microbial Enzymes), Toasted Almonds, Kalamata Olives (Olives, Water, Red Wine Vinegar, Sea Salt, Grape Must).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=520, Total Fat=43g, Sodium=880mg, Total Carb=26g, Protein= 12g, Sugar= 4g</h3>
</body>
