<!DOCTYPE html>
<head>
  <title>Basic Side Salad-Nutrition</title>
  <link rel="stylesheet" href="../static/oatmeal.css"/>
  <!-- this may be a problem later with linking oatmeal css to salad html -->
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Basic Side Salad Nutrition Facts</h1>
  <input type="image" id="salad" src="https://d1gh87f4j52fki.cloudfront.net/m/i/mcdsidesaladphoto.jpg" class="salad"/>
  <h2>Ingredients:</h2>
  <h3>Romaine Lettuce, Baby Spinach, Carrots, Baby Kale, Lollo Rossa Lettuce, Red Leaf Lettuce, Red Oak Lettuce, Red Tango Lettuce, Red Romaine Lettuce, Red Butter Lettuce, Tomato</h3>
  <h2>Nutrition Facts</h2>
  <h3>15 cal, 3g carbs, 0g fat, 1g protein, 15mg sodium</h3>
</body>
