<!DOCTYPE html>
<html>
<head>
<title> Sign Up </title>
<link rel="stylesheet" href="signuppage.css"/>
</head>
<body>
<h1> Sign Up </h1>
<form method ="post">
 Name:
 <br>
 <input type="text" name="user-first-ln" value="Your name">
 <br>
 Username:
 <br>
 <input type="text" name="user-second-ln" value="Your username">
 <br>
 Password:
 <br>
 <input type="text" Password="user-third-ln" value="Your password">
 <br>
 Retype Password:
 <br>
 <input type="text" Password="user-fourth-ln" value="Retype your password">
 <br>
 <input type="submit" value="Create Account">
 </form>
</body>
</html>
