<!DOCTYPE html>
<html>
<head>
<title> Sign Up </title>
<link rel="stylesheet" href="../static/signuppage.css"/>
</head>
<body>
<div class="boxed">
<h1> Sign Up </h1>
<form class="things" method ="post">
 <h2>Name:</h2>
 <input type="text" name="name" value="Your name">
 <br>
 <h2>Username:</h2>
 <br>
 <input type="text" name="username" value="Your username">
 <br>
 <h2>Password:</h2>
 <br>
 <input type="text" Password="password" value="Your password">
 <br>
 <h2>Retype Password:</h2>
 <br>
 <input type="text" Password="password" value="Retype your password">
 <br>
 <input type="submit" value="Create Account">
 </form>
</div>
</body>
</html>
