<!DOCTYPE html>
<head>
  <title>Sofritas-Nutrition</title>
  <link rel="stylesheet" href="../static/sofritas.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Sofritas Nutrition Facts</h1>
  <input type="image" id="sofritas" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/sofritas/primary/sofritas.png" class="sofritas"/>
  <h2>Ingredients:</h2>
  <h3>Sofritas (Bell pepper, black pepper, chipotle chili, cumin, garlic, gypsum, oregano, poblano pepper, red wine vinegar, rice bran oil, salt, soy beans, tomatoes, tomato paste, water, yellow onion).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=150, Total Fat=10g, Sodium=555mg, Total Carb=9g, Protein= 8g, Sugar= 5g</h3>
</body>
