<!DOCTYPE html>
<head>
  <title>Vegetables-Nutrition</title>
  <link rel="stylesheet" href="../static/vegetables.css"/>
</head>
<body>
  <ul>
    <li><b><a href="restaurants.html">Home</a></b></li>
    <li><b><a href="profile.html">Profile</a></b></li>
    <li><b><a href="aboutus.html">About Us</a></b></li>
  </ul>
  <h1>Fajita Vegetables Nutrition Facts</h1>
  <input type="image" id="vegetables" src="https://www.chipotle.com/content/dam/chipotle/global-site-design/en/menu/menu-items/in-store/menu-items/fajita-vegetables/primary/fajita_veg.png" class="vegetables"/>
  <h2>Ingredients:</h2>
  <h3>Fajita Vegetables (Bell pepper, oregano, red onion, salt, sunflower oil).</h3>
  <h2>Nutrition Facts</h2>
  <h3>Cal=20g, Total Fat=0.5g, Sodium=170mg, Total Carb=5g, Protein= 1g, Sugar= 2g</h3>
</body>
